<a  class="btn waves-effect waves-light" href="/" style="float: right">Back</a>
<h2> Enter Email </h2>
<form action="/registation/login" method="POST">
    <div class="input-field col s12 ">
        <input type="text" id="Email" name="Email" class="validate">
        <label for="last_name">Email </label>
    </div>
    <div>
        <button class="btn waves-effect waves-light" href="/registation/add" type="submit">Submit
        </button>
    </div>
</form>